{% extends 'base.html' %}
{% load static %}
{% block title %} | About{% endblock %}
{% block og_title %} | About{% endblock %}
{% block content %}
<article>
	<section class="about">
		<div class="about_bg_container">
			<div class="about_bg">
				<div class="about_main">
					<div class="a_m_bg">
						<div class="a_m_title">OUR STORY</div>
						<div class="a_m_description">MACOHOSE는 일상을 변화시키고 싶었던, 순전히 개인적인 경험의 산물이었습니다. 평소 커피를 좋아하던 저는 꼭 카페에 들려서 커피를 마시는 라이프 스타일을 가지고 있었습니다. 하루라도 커피를 마시지 않으면, 아침에 쏟아지는 잠을 이겨낼 수 없었고, 두통까지 찾아 왔습니다. 춥고 더운 날에도, 나가기 싫은 날에도 어쩔 수 없이 카페에 가야만 했습니다. <br><br>그러던 어느 날 아침, 하루 전날 그대로 놔둔 커피가 눈에 보였습니다. 그때 깨달았습니다. 다양한 메뉴의 커피를 집에서도 스스로 만들 수 있다면 모든 문제가 해결된다는 것을요. 이러한 방법론에 착안하여 제품을 만들게 되었고, 현재 바리스타가 아니라도 커피를 좋아하는 사람이라면 직접 다양한 커피를 만들 수 있는 경험을 제공하고 있습니다.<br><br><div class="a_m_date">2018.12.02</div></div>
					</div>
				</div>
			</div>
		</div>
		<div class="about_value">
			<div class="a_v_bg">
				<div class="a_v_text hide-under">
					<div class="a_v_title">VISION</div>
					<div class="a_v_description a_vision_description">한국의 커피사랑은 남다릅니다. 한국의 커피시장 규모는 10조원을 돌파했고, 국제 커피 기구는 한국의 커피 수입량을 세계 7위로 평가 했습니다. 수많은 커피 브랜드가 존재하며, 모두 각자의 개성을 가지고 있습니다. <br><br>그 속에서 우리는 사람들로 하여금 자신의 라이프 스타일을 개선해 본질에 집중하고 자신의 커피를 직접 만드는 경험을 선사한다는 신념 아래 브랜드를 가꿀 것입니다. 또한 제품군을 더욱 다양화하기 위해 노력할 것이며, 좋은 커피를 제공하기 위해 끊임없이 연구할 것입니다.</div>
					<div class="a_v_title ">VALUE</div>
					<div class="a_v_description">우리는 복잡하게 사는 것이 제일 싫습니다. 삶은 단순해야합니다. 일상에서 커피를 바로 접할 수 있도록 유통의 과정을 줄이고 단순화하여 누구나 합리적인 가격에 커피를 만들 수 있도록 했습니다. <br><br> 부담 없이 집에서부터 다양한 커피를 마실 수 있도록, 집 앞까지 제품을 배송하여 언제나 원할 때 커피를 마실 수 있습니다. 직관적으로 커피를 제조할 수 있도록 디자인하며 누구든지 바리스타가 될 수 있는 경험을 제공합니다.</div>
				</div>
				<div class="a_v_img_container">
					<div class="a_v_title hide-upper">VISION</div>
					<div class="a_v_description a_vision_description hide-upper">한국의 커피사랑은 남다릅니다. 한국의 커피시장 규모는 10조원을 돌파했고, 국제 커피 기구는 한국의 커피 수입량을 세계 7위로 평가 했습니다. 수많은 커피 브랜드가 존재하며, 모두 각자의 개성을 가지고 있습니다. 그 속에서 우리는 사람들로 하여금 자신의 라이프 스타일을 개선해 본질에 집중하고 자신의 커피를 직접 만드는 경험을 선사한다는 신념 아래 브랜드를 가꿀 것입니다. 또한 제품군을 더욱 다양화하기 위해 노력할 것이며, 좋은 커피를 제공하기 위해 끊임없이 연구할 것입니다.</div>
					<img src="{% static 'img/about_f.jpg' %}" class="about_f" alt="">
					<div class="about_divider"></div>
					<div class="a_v_title hide-upper">VALUE</div>
					<div class="a_v_description hide-upper">우리는 복잡하게 사는 것이 제일 싫습니다. 삶은 단순해야합니다. 일상에서 커피를 바로 접할 수 있도록 유통의 과정을 줄이고 단순화하여 누구나 합리적인 가격에 커피를 만들 수 있도록 했습니다. 부담 없이 집에서부터 다양한 커피를 마실 수 있도록, 집 앞까지 제품을 배송하여 언제나 원할 때 커피를 마실 수 있습니다. 직관적으로 커피를 제조할 수 있도록 디자인하며 누구든지 바리스타가 될 수 있는 경험을 제공합니다.</div>
					<img src="{% static 'img/about_s.jpg' %}" class="about_s" alt="">
					<div class="about_divider"></div>
				</div>
			</div>
		</div>
		<div class="about_product">
			<div class="a_p_bg">
				<div class="a_p_img_container">
					<img src="{% static 'img/recipe.jpg' %}" class="a_p_recipe" alt="">
				</div>
				<div class="a_p_text">
					<div class="a_p_title">PRODUCT</div>
					<div class="a_p_description">현재 '아메리카노 & 카페라떼', '바닐라 라떼', '돌체라떼', 카페모카', '카라멜 마끼아또'를 유통하고 있으며, 각 커피를 만드는 방법은 다음과 같습니다.
						<br><br>
						• 아메리카노 & 카페라떼 : 아메리카노를 드시고 싶은 분들은 포장된 에스프레소에 물 220ml를 넣어주시고 카페라떼를 드시고 싶은 분들은 우유 200ml를 넣어주시면 됩니다.
						<br><br>
						• 바닐라 라떼 : 에스프레소와 바닐라 시럽을 잘 섞어주신 뒤, 우유 200ml를 넣어주시면 됩니다.
						<br><br>
						• 돌체라떼 : 달콤한 연유와 에스프레소를 섞은 후, 우유 200ml를 넣습니다. 드리즐 하고 싶으신 분들은, 연유를 적당량 남겨 두신 후, 우유 위에 뿌려주시면 됩니다.
						<br><br>
						• 카페모카 : 에스프레소와 초코소스를 잘 섞어주신 뒤, 우유 200ml를 넣어주시면 됩니다.
						<br><br>
						• 카라멜 마끼아또 : 에스프레소에 카라멜 소스, 바닐라 시럽을 잘 섞어주신 뒤, 우유 200ml를 넣어주시면 됩니다. 드리즐을 하고 싶은 분들은 돌체라떼와 마찬가지로 카라멜 소스 적당량 남긴 후 우유 위에 뿌리시면 됩니다.
						<br><br>
						NOTICE) 우유는 전자레인지(700W 기준)에 2분 ~ 2분 30초 사이 데워주시면 됩니다. 사용하시는 전자레인지에 따라 시간은 달라질 수 있으며 열에 의해 응고된 단백질이 떠오를 수 있습니다. 
					</div>
				</div>
			</div>
		</div>
		<div class="about_divider"></div>
		<div class="about_attitude">
			<div class="a_a_text">
				<div class="a_a_title">ATTITUDE</div>
				<div class="a_a_description">MACOHOSE는 개인적인 라이프스타일 문제의 해결에서 시작되었습니다. 우리는 일상적인 불편함을 인정하지 않습니다. 불편함을 개선하기 위해서는, 창의적이며 동시에 많은 노력을 요구합니다. 그것을 불만으로 받아들이지 않습니다. 이것은 우리의 제품을 사랑하는 사람들에게 보답할 수 있는 기회라고 생각합니다. 항상 훌륭한 제품을 만들기 위해 노력하겠습니다. </div>
			</div>
		</div>
		<div class="shop_btn">
			<a href="{% url 'shop' %}" class="waves-effect waves-light btn">주문하기</a>
		</div>
	</section>
</article>
{% include 'footer.html' %}
{% endblock %}
{% block javascript %}
<script>
	$('#about').addClass('w_nav');
	$('.nav_center_item').removeClass('nav_center_item');
	$('.nav_b_cart').removeClass('nav_b_cart');
	$('.logo a, nav a, .material-icons').addClass('nav_a_color');
	$('#nav_count').addClass('nav_count_color');
</script>
{% endblock %}