{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>MACOHOSE{% block title %} | Home{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:title" content="MACOHOSE{% block og_title %} | Home{% endblock %}" />
    <meta property="og:image" content="{% block og_img %}{% static 'img/logo.png' %}{% endblock %}" />
    <meta property="og:description" content="{% block og_description %}집에서 시작하는 나만의 홈 카페 | 우리는 복잡한 삶보다 단순한 삶이 더 좋다는 것을 믿습니다. 바리스타가 아니더라도 집에서 누구든지 쉽게 커피를 만들 수 있는 경험을 선사합니다.{% endblock %}" />
    <meta name="description" content="{% block description %}집에서 시작하는 나만의 홈 카페 | 우리는 복잡한 삶보다 단순한 삶이 더 좋다는 것을 믿습니다. 바리스타가 아니더라도 집에서 누구든지 쉽게 커피를 만들 수 있는 경험을 선사합니다.{% endblock %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    {% block body %}
    {% block content %}
    {% endblock %}
    {% endblock body %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
    $(document).ready(function(){
      $('.sidenav').sidenav();
    });
    </script>
    {% block javascript %}{% endblock %}
  </body>
</html>
