{% load static %}
{% if request.get_full_path != "/checkout/" and request.get_full_path != "/cart/" %}
{% load carton_tags %}
{% get_cart as cart %}
{% endif %}
<!DOCTYPE html>
<html>
  <head>
    <title>마코호세{% block title %} | 온라인 프리미엄 카페{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:title" content="MACOHOSE{% block og_title %} | Home{% endblock %}" />
    <meta property="og:image" content="{% block og_img %}{% static 'img/logo.jpg' %}{% endblock %}" />
    <meta property="og:description" content="{% block og_description %}집에서 시작하는 나만의 홈 카페 | 우리는 복잡한 삶보다 단순한 삶이 더 좋다는 것을 믿습니다. 바리스타가 아니더라도 집에서 누구든지 쉽게 커피를 만들 수 있는 경험을 선사합니다.{% endblock %}" />
    <meta name="description" content="{% block description %}집에서 시작하는 나만의 홈 카페 | 우리는 복잡한 삶보다 단순한 삶이 더 좋다는 것을 믿습니다. 바리스타가 아니더라도 집에서 누구든지 쉽게 커피를 만들 수 있는 경험을 선사합니다.{% endblock %}">
    <meta name="keywords" content="홈카페, 커피배송, 커피배달, 커피, 아메리카노, 카페라떼, 카페모카, 카라멜마끼아또, 돌체라떼, 에스프레소,">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131482119-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131482119-1');
      gtag('config', 'AW-772396363');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2266512043620900');
      fbq('track', 'PageView');
      {% block fqb %}{% endblock %}
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=2266512043620900&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
  </head>
  <body>
    {% if request.get_full_path != "/checkout/" and request.get_full_path != "/cart/" %}
    <nav class="nav" id="nav">
      <a href="#" data-target="mobile-nav" class="hide-upper sidenav-trigger"><i class="material-icons">&#xe164</i></a>
      <ul class="sidenav" id="mobile-nav">
        <li><a href="{% url 'home' %}" class="m_logo" style="color: white;">MACOHOSE</a></li>
        <li><a href="{% url 'about' %}">ABOUT</a></li>
        <li><a href="{% url 'shop' %}">SHOP</a></li>
        <li><a href="{% url 'contact' %}">CONTACT</a></li>
        <div class="sidenav_sns_div">
          <li class="sidenav_sns_li"><span class="sidenav_sns">Social Media</span></li>
          <li><a href="https://www.instagram.com/macohose/" target="_blank">Instagram</a></li>
        </div>
      </ul>
      <div class="logo">
        <a href="{% url 'home' %}">MACOHOSE</a>
      </div>
      <div class="nav_center hide-under">
        <a href="{% url 'about' %}"><div id="about" class="nav_center_item">ABOUT</div></a>
        <a href="{% url 'shop' %}"><div id="shop" class="nav_center_item">SHOP</div></a>
        <a href="{% url 'contact' %}"><div id="contact" class="nav_center_item">CONTACT</div></a>
      </div>
      <div class="nav_right_container">
        <div class="nav_right">
          <a href="https://www.instagram.com/macohose/" target="_blank" class="a_insta hide-under">
          {% if request.get_full_path != "/" and request.get_full_path != "/about/"%}
            <div class="nav_b_insta">INSTAGRAM</div>
          {% else %}
            <div class="nav_insta">INSTAGRAM</div>
          {% endif %}
          </a>
          <span class="nav_count" id="nav_count">{{cart.count}}</span>
          <a href="{% url 'cart' %}" class="nav_b_cart">
            <i class="material-icons">&#xe8cc</i>
          </a>
        </div>
      </div>
    </nav>
    {% endif %}
    {% block content %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
    $(document).ready(function(){
      $('.sidenav').sidenav();
    });
    </script>
    {% block javascript %}{% endblock %}
  </body>
</html>
