{% extends 'base.html' %}
{% block title %} | Cart{% endblock %}
{% block og_title %} | Cart{% endblock %}
{% block content %}
<article>
	<section>
		<nav class="nav">
			<a href="#" data-target="mobile-nav" class="hide-upper sidenav-trigger"><i class="material-icons">&#xe164</i></a>
			<ul class="sidenav" id="mobile-nav">
				<li><a href="{% url 'home' %}" class="m_logo" style="color: white;">MACOHOSE</a></li>
				<li><a href="{% url 'about' %}">ABOUT</a></li>
				<li><a href="{% url 'shop' %}">SHOP</a></li>
				<li><a href="{% url 'contact' %}">CONTACT</a></li>
				<div class="sidenav_sns_div">
					<li class="sidenav_sns_li"><span class="sidenav_sns">Social Media</span></li>
					<li><a href="https://www.instagram.com/macohose/" target="_blank">Instagram</a></li>
				</div>
			</ul>
			<div class="logo">
				<a href="{% url 'home' %}">MACOHOSE</a>
			</div>
			<div class="nav_center hide-under">
				<a href="{% url 'about' %}"><div id="about" class="nav_center_item">ABOUT</div></a>
				<a href="{% url 'shop' %}"><div id="shop" class="nav_center_item">SHOP</div></a>
				<a href="{% url 'contact' %}"><div id="contact" class="nav_center_item">CONTACT</div></a>
			</div>
			<div class="nav_right_container">
				<div class="nav_right">
					<a href="https://www.instagram.com/macohose/" target="_blank" class="a_insta hide-under">
						<div class="nav_b_insta">INSTAGRAM</div>
					</a>
					<span class="nav_count" id="nav_count">{{cart.count}}</span>
					<a href="{% url 'cart' %}" class="nav_b_cart">
						<i class="material-icons">&#xe8cc</i>
					</a>
				</div>
			</div>
		</nav>
	</section>
	<section>
		<div class="shop_cart_title">Shopping Cart</div>
		{% if cart.items %}
		<div class="shop_cart_item">
			<table class="show_cart_table">
			  <thead>
			    <tr>
			      <th class="th_title">제품</th>
			      <th class="th_title th_quantity">수량</th>
			      <th class="th_title th_price">가격</th>
			    </tr>
			  </thead>
				{% for item in cart.items %}
			  <tbody>
			    <tr>
			      <td class="td_title td_img_container">
			      	<a href="{% url 'shopping-cart-remove'%}?id={{item.product.id}}" class="remove">×</a>
			      	<img src="{{ item.product.thumbnail.url }}" class="td_img" alt="">
			      	<div><a href="{% url 'shop_item' item.product.slug %}" class="td_title">{{ item.product.title }}</a></div>
			    	</td>
			      <td class="td_title td_quantity">{{ item.quantity }}</td>
			      <td class="td_title td_price">￦{{ item.subtotal }}</td>
			    </tr>
			  </tbody>
				{% endfor %}
			</table>
			<div class="cost_info">
				{% if message %}
					<div class="total_cost_fee">배송비 ￦2500</div>
					<div class="total_cost">총액 ￦{{total_cost}}</div>
					<div class="total_cost_message">{{message}}</div>
				{% else %}
					<div class="total_cost">총액 ￦{{total_cost}}</div>
				{% endif %}
				<a href="{% url 'checkout' %}" class="waves-effect waves-light btn order_btn">주문하기</a>
			</div>
		</div>
		{% else %}
			<div class="shop_cart_empty">장바구니가 비어있습니다.</div>
		{% endif %}
	</section>
</article>
{% include 'footer.html' %}
{% endblock %}