<div class="footer">
	<div class="a_f_text">
		<a href="https://www.instagram.com/macohose/" target="_blank" class="atag_insta"><div class="nav_b_insta" style="display: inline-block;">INSTAGRAM</div></a>
		<div class="f_logo"><span>MACOHOSE</span></div>
	</div>
	<div class="f_info_container">
		<span class="f_info">상호 : 마코호세(MACOHOSE)</span>
		<span class="f_info">대표 : 박찬웅</span>
		<span class="f_info">사업자등록번호 : 592-02-01410</span>
		<span class="f_info">통신판매업신고번호 : 제 2019-안양만안-0025 호</span>
		<span class="f_info">이메일 : macohose@gmail.com</span>
	</div>
	<div class="f_info_container">
		Copyright 2019. 마코호세(MACOHOSE) Co. <br class="hide-upper">All rights reserved.
	</div>
</div>