{% extends 'base.html' %}
{% block content %}
<article>
	<section class="index">
		<div class="index_bg">
			<div class="index_main">
				<div class="i_m_fir">집에서 시작하는 나만의 홈 카페</div>
				<div class="i_m_sec">우리는 복잡한 삶보다 단순한 삶이 더 좋다는 것을 믿습니다. 바리스타가 아니더라도 집에서 누구든지 쉽게 커피를 만들 수 있는 경험을 선사합니다.</div>
				<div class="i_m_sec">신년 이벤트 <br>1월 5일 토요일 22시까지 할인 <br>할인 코드 : 0752</div>
				<div class="i_m_thi">
					<a href="{% url 'about' %}" class="waves-effect waves-light btn">더 알아보기 &#10095;</a>
					<a href="{% url 'shop' %}" class="waves-effect waves-light btn r_btn">주문하기</a>
				</div>
			</div>
		</div>
	</section>
</article>
{% endblock %}
{% block javascript %}
<script>
  $('body').css({'padding':'0'});
	$('.nav_center_item').removeClass('nav_center_item');
	$('.nav_b_cart').removeClass('nav_b_cart');
	$('.logo a, nav a, .material-icons').addClass('nav_a_color');
	$('#nav_count').addClass('nav_count_color');
</script>
{% endblock %}
