<div class="review_container">
	<div class="review_title_star_container">
		<div class="review_title">{{ review.title }}</div>
		<div>
			{% if review.star == 5%}
			<div class="star_list">
        <i class="material-icons star_icon">star</i>
        <i class="material-icons star_icon">star</i>
        <i class="material-icons star_icon">star</i>
        <i class="material-icons star_icon">star</i>
        <i class="material-icons star_icon">star</i>
			</div>
			{% endif %}
			{% if review.star == 4%}
			<div class="star_list">
        <i class="material-icons star_icon">star</i>
        <i class="material-icons star_icon">star</i>
        <i class="material-icons star_icon">star</i>
        <i class="material-icons star_icon">star</i>
      </div>
			{% endif %}
			{% if review.star == 3%}
			<div class="star_list">
        <i class="material-icons star_icon">star</i>
        <i class="material-icons star_icon">star</i>
        <i class="material-icons star_icon">star</i>
      </div>
			{% endif %}
			{% if review.star == 2%}
			<div class="star_list">
        <i class="material-icons star_icon">star</i>
        <i class="material-icons star_icon">star</i>
      </div>
			{% endif %}
			{% if review.star == 1%}
			<div class="star_list">
        <i class="material-icons star_icon">star</i>
      </div>
			{% endif %}
		</div>
	</div>
	<div class="review_description">{{ review.description }}</div>
</div>