{% extends 'base.html' %}
{% block title %} | Shop{% endblock %}
{% block og_title %} | Shop{% endblock %}
{% block fqb %}fbq('track', 'ViewContent');{% endblock %}
{% block content %}
<article class="shop_article">
	<div class="shop_title">Sun's up.<br>The Best Way To Start Your Day.</div>
	<section class="shop_item_section">
		<div class="shop_main_title"><span>COFFEE</span></div>
		<div class="shop_item_grid">
			{% for product in coffee_list %}
				{% include 'product.html' %}
			{% endfor %}
		</div>
	</section>
	<section class="shop_item_section">
		<div class="shop_main_title"><span>EXTRA</span></div>
		<div class="shop_item_grid">
			{% for product in extra_list %}
				{% include 'product.html' %}
			{% endfor %}
		</div>
	</section>
</article>
{% include 'footer.html' %}
{% endblock %}
{% block javascript %}
<script>
	$('#shop').addClass('b_nav')
</script>
{% endblock %}

